/* Variables de color y estilos base */
:root {
    --amarillo: #FFD85E;
    --magenta: #EC4899;
    --morado: #7C3AED;
    --blanco: #ffffff;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: gentleFadeIn 0.8s ease-out forwards;
    background: #0d1120;
    overflow-x: hidden;
}