
.btn-nav {
    background: linear-gradient(135deg, #7C3AED 0%, #8B5CF6 50%, #EC4899 100%);
    border: none;
    border-radius: 25px; 
    padding: 0.6rem 1.8rem; 
    font-weight: 1000;
    color: #fff;
    font-size: 1.2rem; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-nav:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4);
}
.btn-nav.active {
    background: linear-gradient(135deg, #3B82F6 0%, #8B5CF6 50%, #EC4899 100%);
    box-shadow: 0 2px 10px rgba(0, 98, 255, 0.925);
}
.btn-nav:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(114, 0, 235, 0.377);
}

/* --- Botón "Editar Perfil" --- */

.btn-edit {
    background: var(--morado);
    border: none;
    border-radius: 30px; 
    padding: 0.84rem 2.4rem;
    color: #fff;
    font-weight: 600;
    width: 100%;  
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-edit:hover {
    background-color: #8a6be6;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.btn-edit:active {
    transform: translateY(0);
    background: #5a4fcf;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


/* --- Botón "Iniciar Sesión" --- */

.btn-login {
    background: var(--morado); 
    border: none;
    border-radius: 28px; 
    padding: 0.68rem 2.05rem; 
    font-size: 1.36rem; 
    font-weight: 600;
    color: #fff;
    box-shadow: 0 3px 10px rgba(114,0,235,0.3);
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-login:hover {
    transform: translateY(-2px);
    background-color: #8a6be6;
    box-shadow: 0 6px 15px rgba(114,0,235,0.5);
}
.btn-login:active {
    background-color: var(--magenta); 
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.like-btn,
.btn-like {
    cursor: pointer;
    transition: transform 0.2s ease;
    background: none;
    border: none;
    padding: 0;
    color: rgba(255,255,255,0.6);
}
.like-btn:hover,
.btn-like:hover {
    transform: scale(1.2);
}
.like-btn.liked i,
.btn-like.liked i {
    color: red
}

@media (min-width: 576px) {
    .btn-edit {
        width: 400px;
    }
}